/*~~~~~~~~~~~ body ~~~~~~~~~~~*/
.main_body{

	height: 30%;
	width: 100%;
	margin: 4em 0 2em;
}

.indeximg{
	display: inline-block;
	height: 300px;
	width: auto;
	padding: 20px 10px 0px 10px;

}
/*.left_arrow{
	float: left;
	margin
	height: 20px;
}
*/
.down_button{
	height: 35px;
}


@media (max-width: 9000px) {
    .indeximg {
    	width: auto;
        height: 300px;
    }
}

@media (max-width: 1400px) {
    .indeximg {
    	width: auto;
        height: 250px;
    }
}

@media (max-width: 895px) {
    .indeximg {
    	width: auto;
        height: 250px;
    }
}
