/*.portfolio_main img{
	height: auto;
	width: 287px;
	float-left;
	display: inline;
	padding: 0;
}
*/
#rig {
    max-width:100%;
    margin:0 auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
}
#rig li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width:20%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
        
/* The wrapper for each item */
.rig-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
    overflow:hidden;
    height: 200px;
    width: 100%;
}

.rig-cell2 {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
    overflow:hidden;
    height: 350px;
    width: 100%;
}
        
/* If have the image layer */
.rig-img {
    display:block;
    width: auto;
    height: 110%;
    border:none;
    transform:scale(1);
    transition:all 1s;
    padding: 0;
}
.rig-img2{
	position: absolute;
	top: -70px;
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
    padding: 0;
}
#river{
	position: absolute;
    display:block;
    width: auto;
    top: 0;
    left: -192px;
    height: 100%;
    border:none;
    transform:scale(1);
    transition:all 1s;
    padding: 0;
}

#colton{
	position: absolute;
    display:block;
    width: auto;
    top: 0;
    height: 101%;
    border:none;
    transform:scale(1);
    transition:all 1s;
    padding: 0;
}

#megan{
	top: 0;
	width: 101%;
}

#megan{
	top: -20px;
	width: 101%;
}


#rig li:hover .rig-img {
    transform:scale(1.05);
}
        
/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #727272 url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.8;
}

/* If have captions */
.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    font-weight:normal!important;
    top:40%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

@media (max-width: 9000px) {
    #rig li {
        width:20%;
    }
}

@media (max-width: 895px) {
    #rig li {
        width:33.3%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:50%;
    }
}